exportPattern("^[[:alpha:]]+")

importFrom(R6, R6Class)
importFrom(outliers, outlier)
importFrom(climtrends, FindOutliersTietjenMooreTest)
importFrom(EnvStats, rosnerTest)
importFrom(zoo, rollmedian)
importFrom(shinyjs, delay, useShinyjs, addClass)
importFrom(gnumeric, read.gnumeric.sheet)
importFrom(abind, abind)
importFrom(tcltk2, tk2text)
importFrom(gdata, read.xls)
importFrom(lmtest, dwtest, hmctest)
importFrom(colourpicker, colourInput)
import(shiny, shinydashboard, stringr, reader, devtools, tcltk, readxl)
importFrom("readODS", read.ods)
importFrom("grDevices", "bmp", "colorRampPalette", "dev.off", "jpeg",
             "png", "rainbow", "tiff")
importFrom("graphics", "abline", "layout", "legend", "mtext", "par",
             "plot", "points", "rect", "text", "title")
importFrom("stats", "sd")
importFrom("stats", "kmeans")
importFrom("utils", "read.table", "write.csv", "write.table")

if(.Platform$OS.type=="windows"){
importFrom("utils", "choose.dir", "choose.files")}
